includes:
	- phpstan-baseline.neon

parameters:
	checkMissingIterableValueType: false
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- src/
		- test/
	tmpDir: %currentWorkingDirectory%/.build/phpstan/
	ignoreErrors:
		- '#Call to function assert\(\) with true will always evaluate to true#'
		- '#Instanceof between (\w+) and \1 will always evaluate to true#'
		- '#Call to function is_(\w+)\(\) with \1 will always evaluate to true#'
		- '#Method .* has a nullable return type declaration#'
		- '#Only booleans are allowed in a negated boolean#'
		- '#Method .* has parameter .* with a nullable type declaration#'
		- '#Method .* has parameter .* with null as default value#'
